@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    border: 2px solid black;
    margin: auto;
    background-color: khaki;
}
/* navbar desing  */
nav{
    background-color: tomato;

}
ul li{
    list-style-type:none;
    padding: 10px 40px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-transform: capitalize;

}
 ul{
     display: flex;
   
 }

 ul li:hover a{
    color: black;
 }
 #active{
    color: black;
}

.text{
    font-family: 'Luxurious Roman', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: gray;
    text-align: center;
}
.text::before{
    content: 'welcome';
    color:black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: .9s;

}
.text:hover::before{
    width: 100%;
}